.HcontOn { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none; background-color: #CCCCCC; border: solid; position: absolute; visibility: visible; width: 100px; left: 0px; top: 0px; clip:    rect(   ); border-color: #CCCCCC #000000 #CCCCCC #CCCCCC; text-align: center; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 25px; cursor: hand ; z-index: 5; border-width: 0px 0px 2px}
.HcontOff {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #999999;
	position: absolute;
	visibility: visible;
	width: 100px;
	left: 0px;
	top: 0px;
	clip:    rect(   );
	text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	height: 25px;
	cursor: hand;
	z-index: 3;
	border-top: 0px solid #999999;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 0px solid #999999;
}
.HindexOn { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none; background-color: #CCCCCC; border: #CCCCCC solid; position: absolute; visibility: visible; width: 100px; left: 100px; top: 1px; clip:     rect(   ); text-align: center; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 25px; cursor: hand ; z-index: 5; border-width: 0px 0px 2px}
.HindexOff { font-family: Geneva, Arial, Helvetica, san-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none; background-color: #999999; border: solid; position: absolute; visibility: visible; width: 100px; left: 100px; top: 0px; clip:     rect(   ); border-color: #999999 #FFFFFF #000000 #999999; text-align: center; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 25px; cursor: hand ; z-index: 3; border-width: 0px 0px 2px}
.tabMenu {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000; text-decoration: none; background-color: #CCCCCC; position: absolute; visibility: visible; left: 0px; top: 25px; clip:        rect(   ); width: 350px; z-index: 2; height: 300px; border: solid; border-width: 2px 1px 1px 2px; border-color: #000000 #FFFFFF #000000 #CCCCCC}
.tabMenCont {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	overflow: auto;
	position: relative;
	visibility: visible;
	width: 100%;
	left: 0px;
	top: 0px;
	clip:    rect(   );
	height: 100%;
	display: block;
}
.menResults {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	overflow: auto;
	position: absolute;
	visibility: visible;
	height: 100px;
	width: 350px;
	left: 0px;
	top: 350px;
	clip:    rect(   );
	border-color: #666666 #CCCCCC #CCCCCC #666666;
	border-style: solid;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	padding: 5px;
	cursor: default;

}
.closeBut {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bolder; font-variant: small-caps; text-transform: capitalize; color: #CCCCCC; text-decoration: underline; background-color: #000000; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-color: #999999 #FFFFFF #FFFFFF #999999; border-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; position: absolute; visibility: visible; left: 275px; top: 0px; clip:    rect(   ); cursor: hand}
.hideMenCont {



	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	overflow: auto;
	position: relative;
	visibility: hidden;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 100%;
	display: none;
}
.showMenCont {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	overflow: auto;
	position: relative;
	visibility: visible;
	width: 100%;
	left: 0px;
	top: 0px;
	clip:    rect(   );
	height: 100%;
	display: block;
	padding: 5px;
	cursor: default;


}
.hide {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	height: 100px;
	width: 350px;
	left: 0px;
	top: 350px;
	border-color: #666666 #CCCCCC #CCCCCC #666666;
	border-style: solid;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	display: none;

}
a.cont:link {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0066FF;
	text-decoration: none;
	background-color: #FFFFFF;
	cursor: help;

}
a.cont:visited {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0000CC;
	text-decoration: none;
	background-color: #FFFFFF;
	cursor: help;
}
a.cont:hover {

	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0066FF;
	text-decoration: underline;
	background-color: #FFFFFF;
	cursor: help;
}
a.cont:active {


	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0066FF;
	text-decoration: underline;
	background-color: #FFFFFF;
	cursor: help;
}
